{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["reference.ts"],
      "options": {
        "printWidth": 240
      }
    },
    {
      "files": ["1-resolver-map.ts"],
      "options": {
        "printWidth": 240
      }
    }
  ]
}
